@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  margin: 0;
  background-color: rgb(103, 151, 255);
}

#mainTitle {
  font-family: "Special Elite", cursive;
  font-size: 20vh;
  text-align: center;
  padding-top: 10vh;
}

#mainForm {
  text-align: center;
}

.mainInputTitles {
  font-family: "Special Elite", cursive;
  padding-top: 10vh;
}
